@page "/course/{courseId:int}/article/{articleDisplayId:int}/{articleId:int}/{isCode:bool}"
@using System.Security.Claims
@using TCSA.V2026.Components.Ads
@using TCSA.V2026.Data.Curriculum
@using TCSA.V2026.Data.Models
@using TCSA.V2026.Services
@inject IJSRuntime JSRuntime

<PageTitle>Courses</PageTitle>

<MudGrid>
    @if (IsLoading)
    {
        <MudProgressCircular Color="Color.Default" Indeterminate="true" />
    }
    else
    {
        <MudItem xs="12" md="3">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
                <MudList T="string" Dense="true">
                    @for (int i = 0; i < Course.Articles.Count; i++)
                    {
                        var article = Course.Articles[i];
                        <MudListItem Text=@($"{i + 1}. {article.Title}")
                        Style=@(GetNavItemStyle(article.Id))
                        OnClick="@(() => NavigateToArticle(article.CourseDisplayId.Value, article.Id, false))" />
                    }
                </MudList>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" md="9">
            <MudPaper Class="d-flex flex-column mud-width-full mt-3 pt-5 pb-5 px-5">
                @if (IsLoggedIn && IsCompleted)
                {
                    <MudAlert Class="mt-3 mb-3" Severity="Severity.Success" Elevation="2">You have completed this roadmap step.</MudAlert>
                }

                <h1 class="mud-typography-h4 mud-primary-text mb-2 mt-8">@Article.Title</h1>

                @foreach (var block in BlocksToShow)
                {
                    if (!string.IsNullOrEmpty(block.Title))
                    {
                        <h2 class="mud-typography-h6 mud-primary-text mb-2 mt-8">@block.Title</h2>
                    }

                    @foreach (var paragraph in block.Paragraphs)
                    {
                        if (paragraph.IsCode)
                        {
                            <MudPaper Class="p-4 my-4 overflow-auto line-numbers">
                                <pre class="line-numbers"><code class="language-csharp">@((MarkupString)paragraph.Body)</code></pre>
                            </MudPaper>
                        }
                        else if (paragraph.IsPicture)
                        {
                            var imageSrc = $"img/courseimages/{paragraph.PictureUrl}";
                            <MudPaper Class="d-flex justify-center photo-paragraph mb-2 mt-5 py-10 px-5 px-sm-20" Elevation="4">
                                <MudImage Src="@imageSrc" Alt="Course image" Fluid="true" />
                            </MudPaper>
                        }
                        else
                        {
                            if (!string.IsNullOrWhiteSpace(paragraph.BackgroundColor))
                            {
                                var bgStyle = $"background-color: {paragraph.BackgroundColor}; padding: 1rem";
                                var textStyle = $"color: {paragraph.FontColor};";

                                <MudPaper Style="@bgStyle" Elevation="1" Class="my-5">
                                    <MudText Style="@textStyle" Typo="Typo.body1">
                                        @((MarkupString)paragraph.Body)
                                    </MudText>
                                </MudPaper>
                            }
                            else
                            {
                                <MudText Class="mt-2 pb-5" Typo="Typo.body1">
                                    @((MarkupString)paragraph.Body)
                                </MudText>
                            }
                        }
                    }
                }
                <MudGrid>
                    @if (!IsCode && IsLoggedIn && !IsCompleted)
                    {
                        <MudItem xs="6">
                            <div style="display: flex; flex-direction: column; justify-content: space-between;">
                                <MudButton Variant="Variant.Filled"
                                           class="mt-5"
                                           Color="Color.Dark"
                                           OnClick="MarkAsRead"
                                           Disabled="IsSubmitting">
                                    Mark as Completed
                                </MudButton>
                            </div>
                        </MudItem>
                    }
                    @if (!IsCode && Article.Blocks.Any(x => x.IsCourseCodePage))
                    {
                        <MudItem xs="6">
                            <div style="display: flex; flex-direction: column; justify-content: space-between;">
                                <MudButton Variant="Variant.Filled"
                                           Color="Color.Dark"
                                           class="mt-5"
                                           OnClick=@(() => NavigateToArticle(Article.CourseDisplayId.Value, Article.Id, true))
                                           Disabled="IsSubmitting">
                                    View Source Code
                                </MudButton>
                            </div>
                        </MudItem>
                    }
                </MudGrid>
            </MudPaper>
        </MudItem>
@*         <MudItem xs="12" md="2">
    <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 mt-4">
        <div style="width:250px; min-height:250px;">
       <CourseSidebarAd />
    </div>
    </MudPaper>
</MudItem> *@
    }
</MudGrid>

    @code {
    [Inject] NavigationManager NavigationManager { get; set; }
    [Inject] private AuthenticationStateProvider AuthenticationState { get; set; }
    [Inject] private IProjectService ProjectService { get; set; }

    [Inject] private ISnackbar SnackbarService { get; set; }

    [Parameter] public int CourseId { get; set; }
    [Parameter] public int ArticleId { get; set; }
    [Parameter] public int ArticleDisplayId { get; set; }
    [Parameter] public bool IsCode { get; set; } = false;

    private List<Data.Models.Block> BlocksToShow = new();
    private Course Course { get; set; }
    private Article Article { get; set; }
    private List<int> CompletedProjects = new();
    private bool IsLoggedIn = false;
    private bool IsLoading = true;
    private bool IsCompleted = false;
    private bool IsSubmitting = false;
    private string UserId;
    private string _lastRenderedCode = string.Empty;

    private string GetNavItemStyle(int articleId)
    {
        if (articleId == ArticleId)
        {
            return "background-color: var(--mud-palette-primary-lighten); color: #fff;";
        }
        return CompletedProjects.Contains(articleId) ? "background-color: var(--mud-palette-success-lighten);" : string.Empty;
    }
    private async Task MarkAsRead()
    {
        IsSubmitting = true;

        var response = await ProjectService.PostArticle(ArticleId, UserId, string.Empty, true, false);

        IsSubmitting = false;

        if (response.Status == Data.Models.Responses.ResponseStatus.Success)
        {
            SnackbarService.Add("Article successfully marked as read", Severity.Success);
        }
        else
        {
            SnackbarService.Add(response.Message, Severity.Error);
        }

        IsCompleted = await ProjectService.IsProjectCompleted(UserId, ArticleId);
        if (response.Status == Data.Models.Responses.ResponseStatus.Success)
        {
            if (Article.Id != Course.Articles.Last().Id)
            {
                var nextArticle = Course.Articles
                .Where(a => a.CourseDisplayId.Value == ArticleDisplayId + 1)
                .First();
                NavigateToArticle(Article.CourseDisplayId.Value + 1, nextArticle.Id,false);
            }
            else
            {
                NavigationManager.NavigateTo("/dashboard/Courses");
            }
        }
    }

    protected async override Task OnParametersSetAsync()
    {
        Course = CourseHelper.GetCourses().FirstOrDefault(x => x.Id == CourseId);

        if (Course != null)
        {
            Article = Course.Articles.FirstOrDefault(a => a.CourseDisplayId == ArticleDisplayId);
        }

        BlocksToShow = IsCode
      ? Article.Blocks.Where(x => x.IsCourseCodePage).ToList()
      : Article.Blocks.Where(x => !x.IsCourseCodePage).ToList();

        var AuthSate = await AuthenticationState.GetAuthenticationStateAsync();

        if (AuthSate.User.Identity.IsAuthenticated)
        {
            IsLoggedIn = true;
            var claims = AuthSate.User;
            UserId = claims.FindFirstValue(ClaimTypes.NameIdentifier);
        }

        var projects = await ProjectService.GetCompletedProjectsById(UserId);
        var courseIds = Course.Articles.Select(x => x.Id);
        CompletedProjects = projects.Where(x => courseIds.Contains(x)).ToList();

        IsCompleted = await ProjectService.IsProjectCompleted(UserId, ArticleId);
        IsLoading = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("highlightCode");
    }

    private void NavigateToArticle(int articleDisplayId, int articleId, bool isCode)
    {
        NavigationManager.NavigateTo($"/course/{CourseId}/article/{articleDisplayId}/{articleId}/{isCode}", forceLoad: true);
    }
}

