@using TCSA.V2026.Components.UI
@using TCSA.V2026.Data.Curriculum
@using TCSA.V2026.Data.DTOs
@using TCSA.V2026.Data.Enums
@using TCSA.V2026.Data.Models
@using TCSA.V2026.Data.Models.Responses
@using TCSA.V2026.Helpers
@using TCSA.V2026.Services

@inject IDialogService DialogService

<MudPaper Elevation="25">
    <MudToolBar Class="mt-5">
        <MudImage Class="mr-3" Src=@($"{FlagHelper.GetFlag(User.Country)}") Width="50"></MudImage>
        <MudText Class="mr-5" Style="font-weight: 600; font-size:large">@UserDisplayNameHelper.GetDisplayName(User)</MudText>
        <MudImage Class="mr-2" Src=@($"img/belts/{(Level)User.Level}-belt.png") Width="30"></MudImage>
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudText Class="mr-3" Style="font-weight: 500">@(((Level)User.Level).ToString() + " Belt")</MudText>
        </MudHidden>
        <MudImage Src="img/experience.png" Width="30"></MudImage>
        <MudText UserAttributes="@(new() { { "data-testid", "user-xp" } })" Style="font-weight: 500">@User.ExperiencePoints</MudText>
        <MudSpacer />
        <div Class="d-flex justify-space-around flex-wrap">
            @if (Notifications.Any(x => x.IsActive))
            {
                <MudBadge Content="@Notifications.Count(x => x.IsActive)" Overlap="true" Color="Color.Error" Class="mx-6 my-lg-4">
                    <MudIconButton OnClick="OpenDialog" Icon="@Icons.Material.Filled.Notifications" Color="Color.Primary" />
                </MudBadge>
            }
            else
            {
                <MudIconButton OnClick="OpenDialog" Icon="@Icons.Material.Filled.Notifications" Color="Color.Primary" />
            }
        </div>
    </MudToolBar>
</MudPaper>


@code {
    [Inject] private NavigationManager Navigation { get; set; }
    [Parameter] public ApplicationUser User { get; set; }
    [Inject] private IProjectService ProjectService { get; set; }
    [Inject] private IUserService UserService { get; set; }

    private List<TCSANotificationItem> Notifications = new();

    protected async override Task OnParametersSetAsync()
    {
        var projects = ProjectHelper.GetProjects();

        var dbProjects = User.DashboardProjects.Where(dp => dp.DateCompleted > DateTime.UtcNow.AddDays(-7));

        foreach(var project in dbProjects)
        {
            var curriculumProject = projects.FirstOrDefault(p => p.Id == project.ProjectId);

            if (curriculumProject != null)
            {
                var description = GetDescription(project.ProjectId);
                var isDupe = Notifications.Any(x => description.Equals(x.Description));

                if (!isDupe)
                {
                    Notifications.Add(
                        new TCSANotificationItem
                        {
                            IconUrl = curriculumProject.IconUrl,
                            Description = description,
                            IsActive = project.IsPendingNotification
                        }
                    );   
                };
            }
        }

        if (User.UserActivity.Any(x => x.ActivityType == ActivityType.NewBelt && x.DateSubmitted >= DateTime.UtcNow.AddDays(-7)))
        {
            var description = $"You achieved {User.Level} belt!";
            var isDupe = Notifications.Any(x => description.Equals(x.Description));

            if (!isDupe)
            {
                Notifications.Add(new TCSANotificationItem
                {
                    IconUrl = $"{(Level)User.Level}-belt.png",
                    Description = $"You achieved {User.Level} belt!",
                    IsActive = User.HasPendingBeltNotification
                });
            }
        }
    }

    private string GetDescription(int projectId)
    {
        var project = ProjectHelper.GetProjects().FirstOrDefault(x => x.Id == projectId);
        return $"Your project {project.Title} was marked as completed!"; 
    }

    private async Task OpenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parameters = new DialogParameters<TCSANotificationDialog>
        {
            { p => p.Notifications, Notifications }
        };
        var dialog = await DialogService.ShowAsync<TCSANotificationDialog>("Your notifications for the past 7 days", parameters, options);

        var result = await dialog.Result;

        if (!result.Canceled && Notifications.Any(x => x.IsActive))
        {
            var acknowledgeProjectsTask = ProjectService.AcknowledgeNotifications(User.Id);
            var acknowledgeBeltTask = UserService.AcknowledgeBeltNotification(User.Id);

            await Task.WhenAll(acknowledgeProjectsTask, acknowledgeBeltTask);

            var acknowledgeProjectsResponse = await acknowledgeProjectsTask;
            var acknowledgeBeltResponse = await acknowledgeBeltTask;

            if (acknowledgeProjectsResponse.Status == ResponseStatus.Success && acknowledgeBeltResponse.Status == ResponseStatus.Success)
            {
                Notifications.ForEach(x => x.IsActive = false);
                StateHasChanged();
            }
        }
    }
}
