@using Microsoft.Extensions.Options
@using TCSA.V2026.Data.DTOs
@using TCSA.V2026.Data.Models.Options
@using TCSA.V2026.Helpers
@using TCSA.V2026.Services
@inherits LayoutComponentBase
@inject ThemeService ThemeService
@inject IHttpContextAccessor HttpContextAccessor
@inject IJSRuntime JS
@inject NavigationManager Nav

<MudThemeProvider Theme="MyCustomTheme" @bind-IsDarkMode="@ThemeService.IsDarkMode" />
<MudPopoverProvider />
<MudSnackbarProvider />
<MudDialogProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu"
                       Color="Color.Inherit"
                       Edge="Edge.Start"
                       OnClick="@ToggleNavDrawer" />
        <MudImage Src="/img/logo.png" Width="40" />
        <MudAutocomplete T="SearchItem"
                         ToStringFunc="@(i => i?.Title ?? string.Empty)"
                         Placeholder="Search articles & projects..."
                         SearchFunc="SearchHelper.Search"
                         AdornmentIcon="@Icons.Material.Filled.Search"
                         ValueChanged="NavigateTo"
                         Clearable
                         Dense="true"
                         Margin="Margin.Dense"
                         Variant="Variant.Outlined"
                         Style="max-width: 320px"
                         Class="ml-4 appbar-search"
                         AdornmentColor="Color.Primary">
            <ItemTemplate Context="item">
                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                    <img src="img/icons/@(string.IsNullOrEmpty(item.IconUrl) ? "article-placeholder.png" : item.IconUrl)" style="height:2em;max-width:100%;" />
                    <MudText Typo="Typo.body2">@item.Title</MudText>
                </MudStack>
            </ItemTemplate>
        </MudAutocomplete>
        <MudSpacer />
        <MudSwitch UserAttributes="@(new Dictionary<string, object> { ["id"] = "theme-toggle" })"
                   ThumbIcon="@Icons.Material.Outlined.ModeNight"
                   ValueChanged="ToggleTheme"
                   Value="@ThemeService.IsDarkMode"
                   Color="Color.Primary"
                   Class="ma-4"
                   T="bool"
                   Label="Toggle Light/Dark Mode" />
    </MudAppBar>
    <MudDrawer id="nav-drawer" @bind-Open="_navOpen" Variant="DrawerVariant.Responsive" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    @if (string.IsNullOrEmpty(Nav.ToBaseRelativePath(Nav.Uri)))
    {
        <MudDrawer id="feed-drawer" Variant="DrawerVariant.Responsive" @bind-Open="_feedOpen" Anchor="Anchor.Right" ClipMode="DrawerClipMode.Always" Elevation="2">
            <CommunityFeedWidget />
        </MudDrawer>
    }
    <MudMainContent Class="pt-16">
        @Body
    </MudMainContent>
</MudLayout>

@if (string.IsNullOrEmpty(Nav.ToBaseRelativePath(Nav.Uri)))
{
    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
        @if (!_navOpen)
        {
            <MudFab StartIcon="@(_feedOpen? Icons.Material.Filled.Close : Icons.Material.Filled.Feed)"
                    Color="Color.Primary"
                    Style="position: fixed; bottom: 32px; right: 32px; z-index: 1305;"
                    OnClick="@ToggleFeedDrawer"
                    aria-label="Toggle News Feed"
                    Title="@(_feedOpen ? "Close News Feed" : "Open News Feed")" />
        }
    </MudHidden>
    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <MudFab StartIcon="@(_feedOpen? Icons.Material.Filled.Close : Icons.Material.Filled.Feed)"
                Color="Color.Primary"
                Style="position: fixed; bottom: 32px; right: 32px; z-index: 1305;"
                OnClick="@ToggleFeedDrawer"
                aria-label="Toggle News Feed"
                Title="@(_feedOpen ? "Close News Feed" : "Open News Feed")" />
    </MudHidden>
}

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool _navOpen = true;
    private bool _feedOpen = true;

    protected override void OnInitialized()
    {
        var themeCookie = HttpContextAccessor.HttpContext?.Request.Cookies["theme"];
        if (themeCookie != null)
        {
            ThemeService.IsDarkMode = themeCookie == "dark";
        };
    }

    private void ToggleFeedDrawer()
    {
        _feedOpen = !_feedOpen;
    }

    private void ToggleNavDrawer()
    {
        _navOpen = !_navOpen;
    }

    private void NavigateTo(SearchItem? item)
    {
        if (item is not null)
            Nav.NavigateTo(item.PageUrl);
    }

    private async Task ToggleTheme()
    {
        ThemeService.ToggleTheme();
        // Update cookie via JS interop or via server-side endpoint.
        await JS.InvokeVoidAsync("setCookie", "theme", ThemeService.IsDarkMode ? "dark" : "light", 365);   
    }

    MudTheme MyCustomTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = "#1C236D",
            Secondary = "#832A77",
            AppbarBackground = "#C9436E",
            SuccessLighten = "#E0FFE0",
        },
        PaletteDark = new PaletteDark()
        {
            Primary = Colors.Blue.Lighten1,

            DrawerText = "#FFFFFF",
            AppbarText = "#FFFFFF",
            TextPrimary = "#FFFFFF",
            TextSecondary = "#FFFFFF",
            ActionDefault = "#FFFFFF",
            LinesInputs = "#FFFFFF"
        },
    };
}


