@using TCSA.V2026.Data.DTOs
@using TCSA.V2026.Data.Models
@using TCSA.V2026.Helpers
@switch (Item.ActivityType)
{
    case ActivityType.ProjectCompleted:
        <img src="@($"img/icons/{Item.ProjectIconUrl}")" alt="Project Icon" style="height:@IconSize;max-width:100%;" />
        break;
    case ActivityType.NewBelt:
        <img src="@($"img/belts/{Item.Level}-belt.png")" alt="Belt Icon" style="height:@IconSize;max-width:100%;" />
        break;
    case ActivityType.NewUser:
        <img src="img/icons/waving-hand.png" alt="Welcome" style="height:@IconSize;max-width:100%;" />
        break;
    default:
        <img src="img/icons/waving-hand.png" alt="Activity" style="height:@IconSize;max-width:100%;" />
        break;
}
<div>
    @switch (Item.ActivityType)
    {
        case ActivityType.ProjectCompleted:
            <MudText Typo="Typo.body2">
                <strong>@(UserDisplayNameHelper.GetDisplayName(Item.DisplayName, Item.UserName))</strong> finished the <strong>@Item.ProjectName</strong>
            </MudText>
            break;
        case ActivityType.NewBelt:
            <MudText Typo="Typo.body2">
                <strong>@(UserDisplayNameHelper.GetDisplayName(Item.DisplayName, Item.UserName))</strong> earned the <strong>@Item.Level</strong> belt!
            </MudText>
            break;
        case ActivityType.NewUser:
            <MudText Typo="Typo.body2">
                Welcome <strong>@(UserDisplayNameHelper.GetDisplayName(Item.DisplayName, Item.UserName))</strong> to the community!
            </MudText>
            break;
        default:
            <MudText Typo="Typo.body2">
                <strong>@(UserDisplayNameHelper.GetDisplayName(Item.DisplayName, Item.UserName))</strong> did something awesome!
            </MudText>
            break;
    }
    <MudText Typo="Typo.caption" Color="Color.Secondary">
        @TimeSpanFormatter.FormatDurationOpen(DateTimeOffset.UtcNow - Item.Date)
    </MudText>
</div>

@code {
    [Parameter] public FeedDisplay Item { get; set; } = default!;
    [Parameter] public string IconSize { get; set; } = "2em";
}
